{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <title>Menu Finanzas</title>
    </head>

    <body>
        <header>
            <nav>
                <a class="texto-simple"><i class="bi bi-list"></i> MENU FINANZAS</a>
                <ul>
                    {% if request.user.is_authenticated %}
                    <li><a class="op-texto"><i class="bi bi-person-circle"></i> {{ request.user.username }}</li>
                    <li><a class="op-texto" href="{% url 'logout' %}"><i class="bi bi-door-open-fill"></i> CERRAR SESION</a></li>
                    {% else %}
                    <li><a class="op-texto" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> INICIA SESION</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div>
            <ul class="contenedor-menu-finanzas">
                <li><section class="menu-carta" onclick="location.href='indexAREA_PRODUCCION.php'"><img class="img-align" src="{% static 'img/sis_pre.png' %}" width="60%" alt=""><a class="texto-carta">PRESUPUESTOS DEPARTAMENTOS</a></section></li>
                <li><section class="menu-carta" onclick="location.href='indexPRODUCCION_VISTA_FATIMA.php'"><img class="img-align" src="{% static 'img/reg_pre.png' %}" width="60%" alt=""><a class="texto-carta">REGISTRAR PRESUPUESTO</a></section></li>
                <li><section class="menu-carta" onclick="location.href='indexHISTORICO_FATIMA.php'"><img class="img-align" src="{% static 'img/sis_his.png' %}" width="60%" alt=""><a class="texto-carta">HISTORICO DEPARTAMENTOS</a></section></li>
                <li><section class="menu-carta" onclick="location.href='indexFECHAS.php'"><img class="img-align" src="{% static 'img/pre_rech.png' %}" width="60%" alt=""><a class="texto-carta">PRESUPUESTOS RECHAZADOS</a></section></li>
            </ul>
        </div>
    </body>
</html>