{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <title>Registro de Personal</title>
    </head>
    <body>
        <header>
            <nav>
                <a class="op-actualizar" onclick="window.location.reload()"><i class="bi bi-arrow-clockwise"></i> ACTUALIZAR</a>
                <a class="op-nuevo" id="openAddModal"><i class="bi bi-person-fill-add"></i> NUEVO REGISTRO</a>
                <a class="op-eliminar" id="delUsersBtn" onclick="if(confirm('¿Eliminar usuarios seleccionados?')) { document.getElementById('formulario-eliminar').submit(); }">
                    <i class="bi bi-person-dash"></i> ELIMINAR REGISTROS</a>     
                <ul>
                    {% if request.user.is_authenticated %}
                    <li><a class="op-texto"><i class="bi bi-person-circle"></i> {{ request.user.username }}</a></li>
                    <li><a class="op-texto" onClick="history.go(-1);"><i class="bi bi-arrow-return-left"></i> REGRESAR</a></li>
                    <li><a class="op-texto" href="{% url 'logout' %}"><i class="bi bi-door-open-fill"></i> CERRAR SESION</a></li>
                    {% else %}                  
                    <li><a class="op-texto" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> INICIA SESION</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header><br><br>
        
        <div class="contenedor-filtrado">
            <form action="" method="post">
                <div>
                    <div><label class="texto-simple-whi" for="busqueda">BUSQUEDA: </label></div>
                <input class="barra-busqueda" type="text" name="busqueda" id="busqueda">
                </div>
            </form>
            <div>
                <label for="num_registros" class="texto-simple-whi" >MOSTRAR: </label>
                <select name="num_registros" id="num_registros" class="boton-listado">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="80">80</option>
                </select>
            </div>
        </div><p></p><br>

        <form method="post" id="formulario-eliminar" action="{% url 'eliminar-usuarios' %}" onsubmit="return confirm('¿Eliminar usuarios seleccionados?');">
            {% csrf_token %}
            <table>
                    <thead>
                        <tr>
                            <th class="ord asc">ID <i class="bi bi-arrow-down-up"></i></th>                                
                            <th class="ord asc">NOMBRE <i class="bi bi-arrow-down-up"></i></th> 
                            <th class="ord asc">USUARIO <i class="bi bi-arrow-down-up"></i></th>
                            <th class="ord asc">AREA <i class="bi bi-arrow-down-up"></i></th>
                            <th class="ord asc">PASSWORD (Hash) <i class="bi bi-arrow-down-up"></i></th>
                            <th>EDITAR</th>
                            <th>ELIMINAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td><div>{{ usuario.id }}</div></td>
                            <td><div>{{ usuario.get_short_name }}</div></td>
                            <td><div>{{ usuario.username }}</div></td>
                            <td><div>
                                {% for grupo in usuario.groups.all %}
                                    {{ grupo.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    Sin grupo
                                {% endfor %}
                            </div></td>
                            <td><div>
                                {{ usuario.password|slice:":15" }}...</div></td>  <!-- Hash, no texto plano -->
                            </div><td>
                                <a class="texto-simple-bla" onclick="abrirEditModal({{ usuario.id }})"><div><span style="color: white; cursor: pointer;" id="openEditModal"><i class="bi bi-pencil-square"></i></span></a>
                            </div></td>
                            <td>
                                <div class="checkbox-wrapper-39">
                                    <label>
                                        <input type="checkbox" class="checkbox-delete" name="usuarios_seleccionados" value="{{ usuario.id }}">
                                        <span class="checkbox"></span>
                                    </label>
                                </div>
                            </td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
            </table><br>
        </form>

        <!-- Estructura de Modal de Agregar Usuarios -->
        <div id="AddModal" class="modal">
            <div class="modal-contenedor">
                <span class="cerrarAdd" onclick="cerrarModal('AddModal')">&times;</span><br>
                <form method="POST" action="{% url 'registrar-usuario' %}" autocomplete="on" id="AddForm" onsubmit="return validarContraseña('AddForm')">
                    {% csrf_token %}
                    <div>
                        <label class="texto-simple-whi">NUEVO REGISTRO</label>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-fill"></i> NOMBRE</label>
                        <input type="text" class="barra-registro" name="nombre" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-circle"></i> USUARIO</label>
                        <input type="text" class="barra-registro" name="usuario" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-pin-map-fill"></i> GRUPO</label>
                        <select name="grupo" class="boton-listado-registro" required>
                            <option value="" disabled selected>--SELECCIONAR--</option>
                            {% for group in grupos %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-key-fill"></i> CONTRASEÑA</label>
                        <input type="password" class="barra-registro" name="password" id="passwordAdd" placeholder="" required>
                    </div><br>

                    <div class="texto-simple-whi"> Mostrar Contraseña:</div>
                    <div class="checkbox-wrapper-39">
                        <label>
                            <input type="checkbox" onclick="mostrarPassAdd()"/>
                            <span class="checkbox"></span>
                        </label>
                    </div>
                    <div class="contenedor-botones-login">
                        <input class="boton-op" type="submit" value="GUARDAR">
                        <input class="boton-op" type="reset" value="BORRAR">
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Estructura de Modal de Editar Usuarios -->
        <div id="EditModal" class="modal">
            <div class="modal-contenedor">
                <span class="cerrarEdit" onclick="cerrarModal('EditModal')">&times;</span><br>
                <form method="POST" action="{% url 'actualizar-usuario' %}" autocomplete="on" id="EditForm">
                    {% csrf_token %}
                    <div>
                        <label class="texto-simple-whi">EDITAR REGISTRO</label>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-fill"></i> NOMBRE</label>
                        <input type="text" class="barra-registro" name="nombreEdit" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-circle"></i> USUARIO</label>
                        <input type="text" class="barra-registro" name="usuarioEdit" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-pin-map-fill"></i> GRUPO</label>
                        <select name="grupoEdit" class="boton-listado-registro" required>
                            <option value="" disabled selected>--SELECCIONAR--</option>
                            {% for group in grupos %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div><br>

                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-lock-fill"></i> NUEVA CONTRASEÑA</label>
                        <input type="password" class="barra-registro" name="passwordEdit" placeholder="Opcional">
                    </div><br>

                    <div class="contenedor-botones-login">
                        <input class="boton-op" type="submit" value="ACTUALIZAR">
                        <input class="boton-op" type="reset" value="BORRAR">
                    </div>
                </form>
            </div>
        </div>

        <script>
            // FUNCION DE MODAL PARA AGREGAR USUARIOS
            function mostrarPassAdd() {
                const input = document.getElementById("passwordAdd");
                input.type = input.type === "password" ? "text" : "password";
            }
        
            // Abrir el Modal
            document.getElementById("openAddModal").onclick = function() {
                document.getElementById("AddModal").style.display = "block";
            };

            // FUNCION DE MODAL PARA EDITAR USUARIOS
            function abrirEditModal(userId) {
                fetch(`/usuarios/obtener/${userId}/`)
                    .then(response => response.json())
                    .then(data => {
                        // Llenar campos del formulario
                        document.querySelector('[name="nombreEdit"]').value = data.nombre;
                        document.querySelector('[name="usuarioEdit"]').value = data.usuario;
                        document.querySelector('[name="grupoEdit"]').value = data.grupo;
                        // Agrega ID oculto para usar al enviar
                        if (!document.getElementById('idEdit')) {
                            const input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'user_id';
                            input.id = 'idEdit';
                            input.value = data.id;
                            document.getElementById('EditForm').appendChild(input);
                        } else {
                            document.getElementById('idEdit').value = data.id;
                        }
                        // Mostrar modal
                        document.getElementById("EditModal").style.display = "block";
                    });
            }

            // Cerrar modales al hacer clic fuera de ellos
            window.onclick = function(e) {
                // Modal de editar
                const editModal = document.getElementById("EditModal");
                if (e.target == editModal) {
                    editModal.style.display = "none";
                }

                // Modal de agregar
                const addModal = document.getElementById("AddModal");
                if (e.target == addModal) {
                    addModal.style.display = "none";
                }
            };

            // Cerrar modales al hacer clic en la "x"
            function cerrarModal(modalType) {
                const modal = document.getElementById(modalType);
                modal.style.display = "none";
            }
        </script>
        
    </body>
</html>