{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <title>Registro de Personal</title>
    </head>
    
    <body>
        <header>
            <nav>
                <a class="op-actualizar" onclick="window.location.reload()"><i class="bi bi-arrow-clockwise"></i> ACTUALIZAR</a>
                <a class="op-nuevo" id="openAddModal"><i class="bi bi-person-fill-add"></i> NUEVO REGISTRO</a>
                <a class="op-eliminar" id="delUsersBtn" onclick="if(confirm('¿Eliminar usuarios seleccionados?')) { document.getElementById('formulario-eliminar').submit(); }">
                    <i class="bi bi-person-dash"></i> ELIMINAR REGISTROS</a>
                <ul>
                    {% if request.user.is_authenticated %}
                    <li><a class="op-texto"><i class="bi bi-person-circle"></i> {{ request.user.username }}</a></li>
                    <li><a class="op-texto" href="{% url 'menu-admin' %}"><i class="bi bi-arrow-return-left"></i> REGRESAR</a></li>
                    <li><a class="op-texto" href="{% url 'logout' %}"><i class="bi bi-door-open-fill"></i> CERRAR SESION</a></li>
                    {% else %}                  
                    <li><a class="op-texto" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> INICIA SESION</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header><br>

        <!-- Estructura de Filtrado -->
        <div class="contenedor-filtrado">
            <div>
                <div><label class="texto-simple-whi" for="busqueda">BUSQUEDA: </label></div>
                <input class="barra-busqueda" type="text" name="busqueda" id="busqueda" value="{{ busqueda }}" autocomplete="off">
            </div>
            <form method="get" action=".">
                {% csrf_token %}
                <div>
                    <label for="num_registros" class="texto-simple-whi">MOSTRAR: </label>
                    <select name="num_registros" id="num_registros" class="boton-listado" onchange="this.form.submit()">
                        <option value="10" {% if num_registros == '10' %}selected{% endif %}>10</option>
                        <option value="20" {% if num_registros == '20' %}selected{% endif %}>20</option>
                        <option value="40" {% if num_registros == '40' %}selected{% endif %}>40</option>
                        <option value="80" {% if num_registros == '80' %}selected{% endif %}>80</option>
                    </select>
                </div>
            </form>
        </div><p></p>

        <!-- Estructura de Tabla de Usuarios -->
        <form method="POST" id="formulario-eliminar" action="{% url 'eliminar-usuarios' %}" onsubmit="return confirm('¿Eliminar usuarios seleccionados?');">
            {% csrf_token %}
            <table>
                    <thead>
                        {% with url_orden="&num_registros="|add:num_registros|add:"&busqueda="|add:busqueda %}
                        <tr>
                            <th>
                                <a href="?orden=id&direccion={% if orden == 'id' and direccion == 'asc' %}desc{% else %}asc{% endif %}{{ url_orden }}">
                                    ID
                                    {% if orden == 'id' %}
                                        <i class="bi {% if direccion == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-down-up"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?orden=first_name&direccion={% if orden == 'first_name' and direccion == 'asc' %}desc{% else %}asc{% endif %}{{ url_orden }}">
                                    NOMBRE
                                    {% if orden == 'first_name' %}
                                        <i class="bi {% if direccion == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-down-up"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?orden=username&direccion={% if orden == 'username' and direccion == 'asc' %}desc{% else %}asc{% endif %}{{ url_orden }}">
                                    USUARIO
                                    {% if orden == 'username' %}
                                        <i class="bi {% if direccion == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-down-up"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="?orden=groups__name&direccion={% if orden == 'groups__name' and direccion == 'asc' %}desc{% else %}asc{% endif %}{{ url_orden }}">
                                    ÁREA
                                    {% if orden == 'groups__name' %}
                                        <i class="bi {% if direccion == 'asc' %}bi-arrow-up{% else %}bi-arrow-down{% endif %}"></i>
                                    {% else %}
                                        <i class="bi bi-arrow-down-up"></i>
                                    {% endif %}
                                </a>
                            </th>
                            <th>PASSWORD (Hash)</th>
                            <th>EDITAR</th>
                            <th>ELIMINAR</th>
                        </tr>
                        {% endwith %}
                    </thead>
                    <tbody id="tabla-usuarios">
                        {% for usuario in usuarios %}
                        <tr>
                            <td><div>{{ usuario.id }}</div></td>
                            <td><div>{{ usuario.get_short_name }}</div></td>
                            <td><div>{{ usuario.username }}</div></td>
                            <td><div>
                                {% for grupo in usuario.groups.all %}
                                    {{ grupo.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    Sin grupo
                                {% endfor %}
                            </div></td>
                            <td><div>{{ usuario.password|slice:":15" }}...</td></div> <!-- Hash, no texto plano -->
                            <td><div><a class="texto-simple-bla" onclick="abrirEditModal({{ usuario.id }})"><div><span style="color: white; cursor: pointer;" id="openEditModal"><i class="bi bi-pencil-square"></i></span></a></div></td>
                            <td>
                                <div class="checkbox-wrapper-39">
                                    <label>
                                        <input type="checkbox" class="checkbox-delete" name="usuarios_seleccionados" value="{{ usuario.id }}">
                                        <span class="checkbox"></span>
                                    </label>
                                </div>
                            </td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
            </table><p></p>

            <!-- Estructura de Numeros de Paginacion -->
            <div id="paginacion">
                {% with url_paginacion="&num_registros="|add:num_registros|add:"&busqueda="|add:busqueda|add:"&orden="|add:orden|add:"&direccion="|add:direccion %}
                <ul>
                    {% if usuarios.has_previous %}
                        <li><a class="op-texto" href="?page=1{{ url_paginacion }}"><i class="bi bi-chevron-double-left"></i> Primero</a></li>
                        <li><a class="op-texto" href="?page={{ usuarios.previous_page_number }}{{ url_paginacion }}"><i class="bi bi-chevron-left"></i> Anterior</a></li>
                    {% endif %}
            
                    {% for num in usuarios.paginator.page_range %}
                        {% if usuarios.number <= 5 %}
                            {% if num <= 10 %}
                                <li>
                                    <a href="?page={{ num }}{{ url_paginacion }}"
                                    class="{% if usuarios.number == num %}no-paginacion-active{% else %}no-paginacion{% endif %}">
                                    {{ num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% elif usuarios.number > usuarios.paginator.num_pages|add:-5 %}
                            {% if num > usuarios.paginator.num_pages|add:-10 %}
                                <li>
                                    <a href="?page={{ num }}{{ url_paginacion }}"
                                    class="{% if usuarios.number == num %}no-paginacion-active{% else %}no-paginacion{% endif %}">
                                    {{ num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if num >= usuarios.number|add:-4 and num <= usuarios.number|add:5 %}
                                <li>
                                    <a href="?page={{ num }}{{ url_paginacion }}"
                                    class="{% if usuarios.number == num %}no-paginacion-active{% else %}no-paginacion{% endif %}">
                                    {{ num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}                
            
                    {% if usuarios.has_next %}
                        <li><a class="op-texto"href="?page={{ usuarios.next_page_number }}{{ url_paginacion }}">Siguiente <i class="bi bi-chevron-right"></i></a></li>
                        <li><a class="op-texto"href="?page={{ usuarios.paginator.num_pages }}{{ url_paginacion }}">Ultimo <i class="bi bi-chevron-double-right"></i></a></li>
                    {% endif %}
                </ul>
                {% endwith %}
            </div>            
        </form>

        <!-- Estructura de Modal de Agregar Usuarios -->
        <div id="AddModal" class="modal">
            <div class="modal-contenedor">
                <span class="cerrarAdd" onclick="cerrarModal('AddModal')">&times;</span><br>
                <form method="POST" action="{% url 'registrar-usuario' %}" autocomplete="on" id="AddForm" onsubmit="return validarContraseña('AddForm')">
                    {% csrf_token %}
                    <div>
                        <label class="texto-simple-whi">NUEVO REGISTRO</label>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-fill"></i> NOMBRE</label>
                        <input type="text" class="barra-registro" name="nombre" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-circle"></i> USUARIO</label>
                        <input type="text" class="barra-registro" name="usuario" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-collection-fill"></i> GRUPO</label>
                        <select name="grupo" class="boton-listado-registro" required>
                            <option value="" disabled selected>--SELECCIONAR--</option>
                            {% for group in grupos %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-key-fill"></i> CONTRASEÑA</label>
                        <input type="password" class="barra-registro" name="password" id="passwordAdd" placeholder="" required>
                    </div><br>

                    <div class="texto-simple-whi"> Mostrar Contraseña:</div>
                    <div class="checkbox-wrapper-39">
                        <label>
                            <input type="checkbox" onclick="mostrarPassAdd()"/>
                            <span class="checkbox"></span>
                        </label>
                    </div>
                    <div class="contenedor-botones-login">
                        <input class="boton-op" type="submit" value="GUARDAR">
                        <input class="boton-op" type="reset" value="BORRAR">
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Estructura de Modal de Editar Usuarios -->
        <div id="EditModal" class="modal">
            <div class="modal-contenedor">
                <span class="cerrarEdit" onclick="cerrarModal('EditModal')">&times;</span><br>
                <form method="POST" action="{% url 'actualizar-usuario' %}" autocomplete="on" id="EditForm">
                    {% csrf_token %}
                    <div>
                        <label class="texto-simple-whi">EDITAR REGISTRO</label>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-fill"></i> NOMBRE</label>
                        <input type="text" class="barra-registro" name="nombreEdit" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-person-circle"></i> USUARIO</label>
                        <input type="text" class="barra-registro" name="usuarioEdit" placeholder="" required>
                    </div><br>
        
                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-collection-fill"></i> GRUPO</label>
                        <select name="grupoEdit" class="boton-listado-registro" required>
                            <option value="" disabled selected>--SELECCIONAR--</option>
                            {% for group in grupos %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div><br>

                    <div>
                        <label class="texto-simple-whi"><i class="bi bi-lock-fill"></i> NUEVA CONTRASEÑA</label>
                        <input type="password" class="barra-registro" name="passwordEdit" placeholder="Opcional">
                    </div><br>

                    <div class="contenedor-botones-login">
                        <input class="boton-op" type="submit" value="ACTUALIZAR">
                        <input class="boton-op" type="reset" value="BORRAR">
                    </div>
                </form>
            </div>
        </div>

        <script>
            // FUNCION DE MODAL PARA AGREGAR USUARIOS
            function mostrarPassAdd() {
                const input = document.getElementById("passwordAdd");
                input.type = input.type === "password" ? "text" : "password";
            }
        
            // Mostrar el modal
            document.getElementById("openAddModal").onclick = function() {
                document.getElementById("AddModal").style.display = "block";
            };

            // FUNCION DE MODAL PARA EDITAR USUARIOS
            function abrirEditModal(userId) {
                fetch(`/usuarios/obtener/${userId}/`)
                    .then(response => response.json())
                    .then(data => {
                        // Llenar campos del formulario
                        document.querySelector('[name="nombreEdit"]').value = data.nombre;
                        document.querySelector('[name="usuarioEdit"]').value = data.usuario;
                        document.querySelector('[name="grupoEdit"]').value = data.grupo;
                        // Agrega ID oculto para usar al enviar
                        if (!document.getElementById('idEdit')) {
                            const input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'user_id';
                            input.id = 'idEdit';
                            input.value = data.id;
                            document.getElementById('EditForm').appendChild(input);
                        } else {
                            document.getElementById('idEdit').value = data.id;
                        }
                        // Mostrar el modal
                        document.getElementById("EditModal").style.display = "block";
                    });
            }

            // Cerrar los modales al hacer clic fuera de ellos
            window.onclick = function(e) {
                // Modal de editar
                const editModal = document.getElementById("EditModal");
                if (e.target == editModal) {
                    editModal.style.display = "none";
                }

                // Modal de agregar
                const addModal = document.getElementById("AddModal");
                if (e.target == addModal) {
                    addModal.style.display = "none";
                }
            };

            // Cerrar modales al hacer clic en la "x"
            function cerrarModal(modalType) {
                const modal = document.getElementById(modalType);
                modal.style.display = "none";
            }

            // FUNCION DE BUSQUEDA EN TIEMPO REAL
            document.addEventListener('DOMContentLoaded', function () {
                const inputBusqueda = document.getElementById('busqueda');
                const selectNumRegistros = document.getElementById('num_registros');
                const tbody = document.getElementById('tabla-usuarios');

                // Función para actualizar la tabla de usuarios
                function actualizarTabla() {
                    const query = inputBusqueda.value;
                    const numRegistros = selectNumRegistros.value;
                    const paginacion = document.getElementById('paginacion');

                    // Muestra u Oculta la paginacion de acuerdo a si hay una busqueda activa
                    if (query.trim() === '') {
                        paginacion.style.display = 'grid'; // Mostrar
                    } else {
                        paginacion.style.display = 'none';  // Ocultar
                    }

                    fetch(`/usuarios/buscar/?q=${encodeURIComponent(query)}&num_registros=${encodeURIComponent(numRegistros)}`)
                        .then(response => response.json())
                        .then(data => {
                            tbody.innerHTML = '';

                            if (data.usuarios.length === 0) {
                                const filaVacia = document.createElement('tr');
                                filaVacia.innerHTML = `<td colspan="7" style="text-align: center;">Upss... Parece que te has perdido.</td>`;
                                tbody.appendChild(filaVacia);
                                return;
                            }

                            // Devuelve los registros que coincidan con la busqueda
                            data.usuarios.forEach(usuario => {
                                const fila = document.createElement('tr');
                                fila.innerHTML = `
                                    <td><div>${usuario.id}</div></td>
                                    <td><div>${usuario.nombre}</div></td>
                                    <td><div>${usuario.username}</div></td>
                                    <td><div>${usuario.grupos}</div></td>
                                    <td><div>${usuario.password}</div></td>
                                    <td><a onclick="abrirEditModal(${usuario.id})">
                                            <div><span style="color: white; cursor: pointer;" id="openEditModal">
                                                <i class="bi bi-pencil-square"></i></span>
                                            </div>
                                        </a></td>
                                    <td>
                                        <div class="checkbox-wrapper-39">
                                            <label>
                                                <input type="checkbox" class="checkbox-delete" name="usuarios_seleccionados" value="${usuario.id}">
                                                <span class="checkbox"></span>
                                            </label>
                                        </div>
                                    </td>
                                `;
                                tbody.appendChild(fila);
                            });
                        });
                }

                // Búsqueda en tiempo real al escribir
                inputBusqueda.addEventListener('keydown', function (event) {
                    if (event.key === 'Enter') {
                        event.preventDefault(); // Evita que un "Enter" recargue la página
                    }
                });

                inputBusqueda.addEventListener('keyup', actualizarTabla);

                // Actualización al cambiar el número de registros
                selectNumRegistros.addEventListener('change', actualizarTabla);
            });
        </script>
    </body>
</html>